<!DOCTYPE html>
<html>
<style>
    body{
      background: #111827;
      color: white;
      font-family: Arial, sans-serif;
      padding: 40px;
    }
</style>
  <body>
  
    <h1>Set Fixed Monthly Expenses</h1>
<p>
  Add recurring business expenses here. These should be monthly costs like truck payment,
  insurance, ELD, permits, software, and maintenance budget.
</p>

<form method="POST" action="{{ url_for('set_expenses') }}">
  <label for="expense_name">Monthly expense name</label>
  <input type="text" name="expense_name" id="expense_name" placeholder="Truck payment" required value="{{form_data.get('expense_name', '')}}">

  <br><br>

  <label for="monthly_cost">Monthly cost ($)</label>
  <input type="number" name="monthly_cost" id="monthly_cost" step="0.01" min="0" placeholder="954.00" required value="{{form_data.get('monthly_cost', '')}}">

  <br><br>

  <button type="submit">Add monthly expense</button>
</form>
{% for expense in expenses %}
    <p>{{ expense[0] }} - ${{ "{:,.2f}".format(expense[1]) }}</p>
{% endfor %}
<p>Total Cost -  ${{ "{:,.2f}".format(total_monthly_cost) }}</p>
<a href="/">Back to Dashboard</a>